body{
    font-family: 'Red Hat Text', sans-serif;
    color:rgb(112, 112, 112);
}

.mainMittig {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    bottom: 0;
    width: 100%;
    color: white;
    background-color: rgb(33, 33, 33);
}

footer table {
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3 {
    font-weight: normal;
}

h1 {
    font-size: 5em;
    margin-bottom: 0;
}

h2 {
    font-size: 2em;
}

#aufmacher-Text {
    font-weight: bold;
}

#unterüberschrift {
    font-size: 1.5em;
}

video {
    width:800px;
    height: auto;
    margin-top: 20px;
}

.video_wrapper {
    display: table;
    width:auto;
    position:relative;
    width:100%;
    cursor:pointer;
}

.playpause {
    background-image:url(Bilder/Playbutton.png);
    background-repeat:no-repeat;
    width: 20%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
}

/* Zoom In #1 */
#hovBild {
    width: 800px;
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 15px;
    margin-bottom: 50px;
}

#hovBild_mobil {
    display: none;
}

#Text {
    position: absolute;
    bottom: 40px;
    margin-left: 60px;
    margin-right: 60px;
}

figure {
    width: 800px;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}

.hover01 figure img {
    width: 100%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.hover01 figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

#head {
    position: relative;
    color: white;
    font-size: 15px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1000;
}

.logo img {
    position: absolute;
    width: 80px;
    top: 10px;
}

#headbild {
    width: 100%;
    height: fit-content;
    position: relative;
    display:flex; 
    justify-content: center;
}

#headbild_mobil {
    display:none;
}

#headText {
    position: absolute;
    bottom: 8px;
    left: 40px;
}

.BesondereMerkmale-Slider p {
    margin: 0;
    margin-left: 4px;
}

.BesondereMerkmale-Slider img {
    width: 260px;
    color: white;
    font-size: 15px;
}

.BesondereMerkmale-Slider .modalButton_open {
    margin: auto;
    position: absolute;
    bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.modalButton_open {
    border: 1px solid;
    border-radius: 100%;
    z-index: 1000;
    background-color:transparent;
    color: white;
}

.modalButton_close {
    border: 1px solid;
    border-radius: 100%;
    z-index: 1000;
    background-color:transparent;
    color: rgb(0, 96, 57);
}

.modalButton_open:hover {
    background-color: white;
    color:rgb(0, 96, 57);
}

.modal {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em;
    border: 0;
}

.modal::backdrop {
    background: rgb(0 0 0 / .4);
}

#galerie{
    margin: 100px;
}

.Varianten {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.Varianten img, .Varianten p{
    width: 250px;
    padding: 5px;
}

.Varianten p {
    margin: 0;
    margin-left: 4px;   
}

#Kontaktieren {
    background-color: rgb(0, 96, 57);
    color: white;
    border: 2px solid rgb(0, 96, 57);
    font-size: large;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    margin: 20px;
    margin-bottom: 50px;
}

#Erfahren {
    color: rgb(0, 96, 57);
    background-color: white;
    border: 2px solid rgb(0, 96, 57);
    font-size: large;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    margin: 20px;
    margin-bottom: 50px;
}

#Kontaktieren:hover {
    background-color: white;
    color:rgb(0, 96, 57);
} 

#Erfahren:hover {
    color: white;
    background-color:rgb(0, 96, 57);
} 

#Eigenschaften {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Eigenschaften tr, #Eigenschaften td, #Eigenschaften p{
    height: fit-content;
    margin-top: 4px;
    margin-bottom: 4px; 
}

td img {
    width: 250px;
}

td {
    width: 260px;
}

/* Tablet-Größe Quer*/
@media screen and (max-width: 1024px) {
    body{
        width: 100%;
        margin: auto;
    }

    .hover01 figure img {
        width: 100%;
        -webkit-transform: none;
        transform: none;
        -webkit-transition: none;
        transition: none;
    }
    
    .hover01 figure:hover img {
        -webkit-transform: none;
        transform: none;
    }

    h1{
        font-size: 4em;
    }
    
    h2~p{
        font-size:medium;
    }
    
    h3{
        font-size: 1em;
    }

    img, video{
        width:100%;
    }
}

/* Tablet-Größe hochkant*/
@media screen and (max-width: 768px) {
    h1{
        font-size: 3em;
    }

    .logo img {
        width: 70px;
    }

    .mainMittig {
        width: 680px;
        margin-left: auto;
        margin-right: auto;
    }

    h2 {
        font-size: 1.5em;
    }
    
    h2~p{
        font-size:medium;
    }
    
    h3{
        font-size: 1em;
    }

    #hovBild {
        width: 680px;
        position: relative;
        display: flex;
        justify-content: center;
        color: white;
        font-size: 15px;
    }

    img, video, figure {
        width:680px;
        margin-left: auto;
        margin-right: auto;
    }

    .BesondereMerkmale-Slider img {
        width: 220px;
    }

    .BesondereMerkmale-Slider p {
        font-size: 15px;
    }
    
    .Varianten img, .Varianten p{
        width: 220px;
        padding: 5px;
    }

    .Varianten {
        margin-bottom: 40px;
    }
    
    td img {
        width: 220px;
    }
    
    td {
        width: 220px;
    }

    #galerie {
        margin: 20px;
    }

    footer {
        font-size: 14px; 
    }

}

/* Smartphone-Größe*/
@media screen and (max-width: 599px) {
    body {
        width: 100%;
    }
    
    .logo img {
        width: 65px;
    }

    #headbild {
        display: none; 
    }

    #headbild_mobil {
        width: 100%;
        display:flex;
    }
    
    #headText {
        left: 20px;
    }
    
    h1{
        font-size: 2rem;
    }
    
    h2{
        font-size: medium;
    }

    .mainMittig {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    
    h3{
        font-size: 1em;
    }

    #hovBild {
        width: 400px;
    }

    #hovBild_groß {
        display: none;
    }

    #hovBild_mobil { 
        width: 400px;
        display: flex;
    }

    #Text {
        position: absolute;
        bottom: 30px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .BesondereMerkmale-Slider p {
        font-size: 15px;
        margin-left: 2px;
    }
    
    .BesondereMerkmale-Slider img {
        width: 400px;
        font-size: 10px;
    }

    .modal {
        max-width: 100%;
        padding: 2em;
    }

    .modal img {
        width: 70%;
    }

    #galerie {
        margin: 10px;
    }

    .Varianten img, .Varianten p{
        width: 400px;
        padding: 5px;
    }

    .Varianten {
        overflow-y:scroll;
    }

    .Varianten {
        margin-bottom: 40px;
    }

    img, video, figure {
        width:400px;
    }
    
}    






